<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="FlightPositionLogger" fileName="test/logs/flights.log"
                 filePattern="test/logs/flights-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout header="time,latitude,longitude,speed,altitude,flightnumber,airline,aircraft,callsign%n">
        <Pattern>%m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
  	<Logger name="de.feido.flightinfo24.log.FlightPositionFileLogger" level="info">
  	  <AppenderRef ref="FlightPositionLogger"/>
  	</Logger>
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>